.menu {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    border: 2px solid beige;
    border-radius: 20px;
    background-color: brown;
    padding: 2rem;
}

.menu button {
    border: none;
}
.menu button:hover {
    outline: 1px solid white;
}

.show {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
